BOT_TOKEN=8592972913:AAEejt3SA9HkPbhGGpK9cBmUV639JGudJ00

POSTGRES_USER=vshu_bot
POSTGRES_PASSWORD=password
POSTGRES_DB=vshu_bot_db

DB_EXTERNAL_PORT=5434

PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin123

PGADMIN_PORT=5051

LOG_LEVEL=INFO
